.sub-text {
    font-size: 18px !important;
    margin: 10px 0 20px 40px !important;
    color: #fff;
}
textarea {
    width: 80%;
    margin-left: 40px;
    height: 180px;
    color: #fff;
    background: rgb(146 125 142);
    border-radius: 20px;
    padding: 10px;
    outline: none;
}